*{
  margin: 0;
  padding:0; 
}
body{
  background-color:#548670;
  text-align: center;
}
.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
   height: 60vmin;
   width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height:25vmin;
  width:25vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5); 
  font-size: 8vmin;
  color:#b0413e;
  background-color: #ffffc7;
}
#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color:#191913;
  color:#fff;
  border-radius: 1rem;
  border: none;
  position:relative;
  top:100px;
}
#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color:#191913;
  color:#fff;
  border-radius: 1rem;
  border: none;
}
#msg{
  color: #ffffc7;
  font-size: 8vmin;
}
.msg-container{
  height: 110vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hide{
  display: none;
}